<div class="container" style="background-color: lightgrey; margin: 20%">
    <h1>AllBooked Dummy API</h1>
    <h5>1. GET Seed database with dummydata, only once: localhost/seedDB</h5>
    <h5>2. GET list of companies: localhost:3000/company</h5>
    <h5>3. GET companies around a certain location (default radius: 30 km), example: Næstved (x: 11.773574, y: 55.195043)</h5>
    <h5>localhost:3000/company/locationX=11.773574&Y=55.195043</h5>
</div>


<!--<h1>{{headline}}</h1>

{{#each obj}}
<p>{{name}}</p>
<p>{{type}}</p>
<p>{{rating}}</p>
{{#each amenities}}
<span>{{this}}, </span>
{{/each}}
<br>
{{#each reviews}}
<span>{{this}}</span>
{{/each}}
<br>
<br>
{{/each}} -->