


<!--<h1>{{headline}}</h1>

{{#each obj}}
<p>{{name}}</p>
<p>{{type}}</p>
<p>{{rating}}</p>
{{#each amenities}}
<span>{{this}}, </span>
{{/each}}
<br>
{{#each reviews}}
<span>{{this}}</span>
{{/each}}
<br>
<br>
{{/each}} -->